# ==========================
# Python
# ==========================
__pycache__/
*.pyc
.venv/
*.egg-info/

# ==========================
# Node / Vite
# ==========================
node_modules/
dist/
*.tsbuildinfo

# ==========================
# Environment Variables
# ==========================
.env
*.env.local

# ==========================
# IDEs
# ==========================
.vscode/
.idea/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db